.card {
  background-color: white;
  border-radius: 0.25rem;
  padding: .5rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
  height: 100%;
  display: grid;

  &:hover {
    transform: scale(1.02);
    background: lightskyblue;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
  }

  &_body {

    &_header {
      &_name {
        font-size: 1.5rem;
        margin: .5rem;
      }
    }

    &_image {
      background: whitesmoke;
      border-radius: .5rem;
      padding: 1rem;
      height: 10rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      width: 10rem;
    }

    &_details {
      display: grid;

      &-column {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
      }

      &_types {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        grid-gap: .10rem;
        align-items: center;
        place-self: center;

        &-row {
          display: grid;
          grid-auto-flow: row;
          grid-auto-rows: min-content;
          grid-gap: .10rem;
          align-items: center;
          place-self: start;
        }

        &_type {
          background-color: #f1f1f1;
          border-radius: .25rem;
          padding: .25rem;
          margin: .25rem;
          font-weight: bold;
          width: 5rem;
        }
      }

      &_stats {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        align-items: center;
        place-self: center;

        &-row {
          display: grid;
          grid-auto-flow: row;
          grid-auto-rows: min-content;
          grid-gap: .10rem;
          align-items: center;
          place-self: start;

          h5 {
            margin-top: 0;
          }
        }

        &_stat {
          width: 2rem;
          margin: .25rem;
          padding: .25rem;

          &-column {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            place-self: center;
            width: 100%;
            row-gap: .50rem;
            text-align: left;

            h5 {
              place-self: center start;
              margin: 0;
              font-size: .75rem;
              justify-content: center;
              align-items: center;
            }

            p {
              place-self: center end;
              margin: 0;
              justify-content: center;
              align-items: center;
            }
          }

          h5 {
            margin: 0;
            font-size: .75rem;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}

.arena-card {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 2rem;
  border: .15rem solid black;
  padding: 1rem;
  border-radius: 1rem;
  width: fit-content;

  &_side {
    display: grid;

    &_image {
      place-self: center;
      background: whitesmoke;
      border-radius: .5rem;
      padding: 1rem;
      height: 5rem;
      width: 5rem;
    }
  }

  &_body {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-gap: .10rem;

    h2 {
      margin: 0;
    }

    h5 {
      margin: 0;
    }

    &_stats {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: min-content;

      &_header {
        h3 {
          margin-top: .5rem;
          margin-bottom: .5rem;
        }
      }

      &_list {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        column-gap: 1rem;

        &_item {
          display: grid;
          grid-auto-flow: row;
          grid-gap: .10rem;
          align-items: center;
          place-self: start;
          height: 100%;

          h5 {
            margin-top: 0;
            place-self: start center;
          }

          p {
            margin: 0;
            place-self: end center;
          }
        }
      }
    }
  }
}

.arena {
  display: grid;
  grid-auto-flow: row;

  &_header {
    place-self: center;
    margin-bottom: 2rem;
  }
  &_body {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-gap: 2rem;

    &_pokemon {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        grid-gap: 1rem;

      &_header {
        h2 {
          text-align: center;
          margin-top: .2rem;
          margin-bottom: .2rem;
        }
      }

      &_list {
        place-self: center;
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        grid-gap: 1rem;
      }
    }
  }
  &_footer {
    place-self: center;
    margin-top: 2rem;
  }
}


.card-link {
  color: inherit;
  text-decoration: none;
}
